@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,800;0,900;1,100;1,800;1,900&family=Montserrat&display=swap');

$primary-blue:  #0816D1;
body{
    font-family: Montserrat;
    width: 100vw;
    background-color: $primary-blue;
    color: white;
    
}

.bg{
    position: absolute;
    background-image: url('../assets/IMG_8664.jpg');
    background-size: cover;
    background-size: 170% auto;
    background-position: 20% 40%;
    mix-blend-mode: saturation;
    opacity: 0.54;
    pointer-events: none;
    height: 100vh;
    width: 50vw;

}

h1.logo{
    font-family: 'Exo 2';
    font-size: 2.2rem;
    letter-spacing: 0.3rem;
    writing-mode: vertical-lr;
    top: -10px;
    height: 100vh;
    margin-left: 5px;
    position: absolute;
}
a {
    
    text-decoration: none;
    cursor: crosshair;
}
main{
    position: absolute;
    top: 10%;
    left: 35%;
    line-height: 0rem;
    animation: menuload 1s 0.7s 1 normal cubic-bezier(0.89, 0.13, 0.68, 0.78) forwards;
}

main a {
    display: block;
    font-weight: 900;
    font-size: 6rem;
    letter-spacing: 1rem;
    text-transform: uppercase;
    font-family: 'Exo 2';
    color: white; 
    text-shadow: 0 0 20px rgba(0, 0, 0, 0.212);  
}

main a:hover {
    opacity: 0.5;
    transition: 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

aside{
    position: absolute;
    top: 90%;
    left: 65%;
    font-family: 'Exo 2';
    font-weight: 100;
}


@keyframes menuload {
    100%{
        line-height: 7rem; 
    }
}

.kontakt {
    display: none;
}

.kontakt.active{
    display: block;
    position: absolute;
    background-color: white;
    color: rgb(31, 31, 31);
    width: 80%;
    margin: 10% 10%;
    padding: 1%;
    span{
        position: relative;
        right: -98%;
        margin-left: auto;
        cursor: crosshair;
    }
    form{
        width: 90%;
        margin: auto;
    }
    .udaje{
        display: flex;
        justify-content: space-between;
    }
    .udaje > div{
        flex:1 1; 

    }
    .udaje input{
        width: 93%;
    }
    textarea{
        width: 99%;
        border: 1px solid rgb(180, 180, 180);
        border-radius: 5px;
    }
    
    input{
        padding: 3%;
        margin-bottom: 4%;
        border: 1px solid rgb(180, 180, 180);
        border-radius: 5px;
    }
    label[for="osobni-udaje"]{
        font-size: 0.7rem;
        color: gray;
    }
    input[type="checkbox"]{
        width: 1%;
    }

    .btn{
        position: relative;
        margin-left: 90%;
    }
    button {
        background-color: $primary-blue;
        color: white;
        padding: 10px 30px;
        border-radius: 5px;
        border: none;
        filter: drop-shadow(0 0 20px #0815d150 );
    }

}


#kontakt{
    margin-top: 0px;
    transition: 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
#kontakt.active{
    margin-top: -30px;
    transition: 0.7s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}
